@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Ensure table, rows, and cells all have a black background */
table, table tr, table th, table td {
  background-color: black; /* Explicitly set background color for all table elements */
}

/* Ensure text in tables is white */
table, table th, table td {
  color: white;
}

/* Ensure links in tables are light grey */
table a {
  color: #b3b3b3;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
